<nav class="navbar">

    <div class="nav-left">
        <div class="logo">
            <a href="index.html">Pratyush Biswas</a>
        </div>
    </div>

    <div class="nav-center">
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="skills.html">Skills</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="certificates.html">Certificates</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div class="nav-right">
        <div class="social-icons recruiter-links">
            <a href="https://github.com/SteveX103"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/pratyush-biswas-32179a232/"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:ppratyushbbiswas2003@gmail.com"><i class="fas fa-envelope"></i></a>
            <a href="https://www.instagram.com/pratyush_biswas_"><i class="fab fa-instagram"></i></a>
            <a href="tel:+918918664551" title="Call Me"><i class="fas fa-phone"></i></a>
            <a href="https://wa.me/918918664551" target="_blank" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
            <a href="assets/resume/Pratyush_Biswas_Resume.pdf" class="resume-btn">Resume</a>
        </div>
    </div>

</nav>